
.comp_esto_modal-container {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.comp_esto_modal {
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  width: 800px;
  box-shadow: 0 7px 15px rgba(0,0,0,0.25);
  text-align: center;
}

.titulo-adicionar {
  font-style: italic;
  color: #1e4b85;
  font-size: 28px;
  margin-bottom: 20px;
}

.tabela-cabecalho {
  font-size: larger;
  display: grid;
  grid-template-columns: 5fr 5fr 6fr 5fr;
  background-color: #0d6efd;
  color: white;
  padding: 12px;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

.tabela-corpo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  background: #f8f9fa;
  padding: 20px;
  margin-top: 8px;
  gap: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.tabela-corpo input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  background:white;
}

.salvar-btn {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 14px 40px;
  margin-top: 25px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 3px 0px rgba(0,0,0,0.2);
}

.salvar-btn:hover {
  background-color: #0b5ed7;
}

.abrirCompraBtn {
  background-color: #0d6efd;
  z-index: 900;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
}

.abrirCompraBtn:hover {
  background-color: #0b5ed7;
}

.selecionarNomes {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.selecionarNomes-content {
  background: white;
  padding: 20px;
  border-radius: 14px;
  width: 900px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 6px 22px rgba(0,0,0,0.25);
  animation: abrir 0.25s ease-out;
}

@keyframes abrir {
  from { transform: scale(0.95); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

.itemmodal {
  font-size: larger;
  display: flex;
  align-items: center;
  gap: 4px;
  background: #fff;
  margin: 8px 0;
  padding: 20px;
  padding-left: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s;
}

.itemmodal:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}
