body {
    display: flex;
    min-height: 100vh;
    /* Alterado para o fundo mais claro da Imagem 1 */
    background-color: rgb(222, 236, 248); 
    align-items: flex-start;
    justify-content: flex-start;
    font-family: sans-serif; 
    margin: 0; 
}

#sidebar {
    /* Mantenho seu sidebar original */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, #2148C0, #107CE0);
    height: 100vh;
    width: 250px; 
    border-radius: 0px 19px 19px 0px; 
    position: sticky;
    top: 0;
    z-index: 10;
}

.container {
    width: 100%;
    max-width: 1200px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    /* Removido margin-left: 20px; para evitar duplicação de espaço */
     margin-left: 30px;
}

.titulo {
    font-size: 1.8rem;
    font-weight: 600;
    color:#107CE0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
}

header {
    padding-bottom: 24px;
}

.title {
    font-size: 22px;
    font-weight: 550;
}

.quadrado {
    box-shadow: 0px 4px 14px 4px #22222250;
    background-color: white;
    border-radius: 15px;
    padding: 24px;
    height: 545px;
}

hr {
    width: 1010px;
    
}

.containerhr {
    padding-top: 25px;
    padding-bottom: 25px;
}