body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: linear-gradient(#0056d6, #0077ff);
  color: #fff;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.sidebar-logo img {
  width: 160px;
  height: 150px;
  border-radius: 50%;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

.menu-active {
  background: #fff;
  color: #0077ff;
  font-weight: bold;
  border-radius: 0 20px 20px 0;
}

.content {
  margin-left: 240px;
  padding: 20px 40px;
}

h1 {
  color: #1a1a1a;
  margin-bottom: 5px;
}

.filter-btn {
  padding: 10px 15px;
  background: #0077ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.section {
  background: #fff;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.section-title {
  width: 100%;
  background: #0077ff;
  color: #fff;
  padding: 8px;
  font-weight: bold;
  border-radius: 6px;
}

.card-container {
  display: flex;
  gap: 20px;
  padding: 15px 0;
}

.card {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 210px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.add-btn {
  width: 300px;
  margin: 25px auto;
  display: block;
  padding: 15px;
  font-size: 18px;
  background: #0077ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.Producao{
  color:#0077ff
}

.menu-item{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.menu-item img {
  width: 50px;
  height: 35px;
  object-fit: contain;
}
.Voltar{
  padding-left: 2px;
}
.status {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  color: #000;
  margin-top: 5px;
}

.botao-adicionar {
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    
    /* Gradiente usando a cor #107CE0 como principal */
    background: linear-gradient(to right, #1e459a, #107CE0); 
    color: white;
    border: none;
    border-radius: 60px; 
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
    text-transform: uppercase;
    white-space: nowrap;
}
.botao-adicionar img{
  width: 12px;
  height: 12px;
}