body {
    background-image: url("../Assets/imagemFundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#logoBeiraAvatar {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius:1000px ;
    margin-bottom: 35px;
    box-shadow: 0px 4px 14px 4px #222222;

}

#logoBeira {
    display: grid;
    place-items: center;
    gap: 12px;
    margin-right: 8px;
    padding: 20px;
    justify-items: center;
    padding-top: 65px;
}

.input_login {
    width: 250px;
}

.input_login2 {
    display: grid;
    place-items: center;
    gap: 12px;
    margin-bottom: 24px;
    margin-right: 8px;
    padding: 20px;
    justify-items: center;

}